@model IEnumerable<BookBazaar.Models.Book>

@{
    ViewData["Title"] = "Home Page";
}
<a asp-page="/Cart">Go to Cart</a>
<br />
<a asp-controller="Books" asp-action="Index">Go to Books</a>

@*
       Title 

       Quantity 

       Price

       Image 
*@
@foreach(var b in Model)
{
    <div class="row">
        <partial name="BookSummary" model="b" />
    </div>
    
}

