@model IEnumerable<BookBazaar.Models.Book>

@{
    ViewData["Title"] = "Home Page";
}
<a asp-page="/Cart">Go to Cart</a>
<br />
<a asp-controller="Books" asp-action="Index">Go to Books</a>

@*
       Title 

       Quantity 

       Price

       Image 
*@


<!-- Search form -->
<form asp-controller="Home" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Search"/>
    </p>
</form>

<div class="row">
    @foreach (var b in Model)
    {
        <partial name="BookSummary" model="b" />
    }
</div>


