@model IQueryable<BookBazaar.Models.Book>


@{
    ViewData["Title"] = "Home Page";
}

@* <a asp-controller="Books" asp-action="Index">Go to Books</a> *@
<div class="banner">
    <img src="/Images/library photo.png" />
</div>

<!-- Search form -->

<div class="product_grid_container">
    @foreach (var b in Model)
    {
        <partial name="BookSummary" model="b" />
    }
</div>

<br>

<a class="product_show_more_button" asp-controller="Home" asp-action="AvailableBooks">
    <button class="poppins-semibold">
        Show More
    </button>
</a>

<div class="banner_2">
    <img src="~/Images/Board2.png" />
</div>




