html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

ul > li {
    text-decoration: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #f5f5f5;
}

/******************
* Header *
 ******************/



header {
    padding: 1.84375rem 1.84375rem;
    margin-bottom: 0;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.header_menu_logo {
    padding-left: 3rem;
}

.header_menu_links {
}

.header_menu_pages a {
    color: black !important;
    text-decoration: none;
    padding-left: 3rem;
    padding-right: 6rem;
}

.header_menu_icons {
	display: flex;
	align-items: center;
}

.header_menu_icons > a {
    padding-right: 3rem;
    color: black !important;
    text-decoration: none;
}

/******************
    Banner
*/

.banner > img{
    width: 100%;
    height: auto;
}

.banner_2 > img {
    width: 100%;
    height: auto;
}

/******************
    Product
*/
.product_title {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #3a3a3a;
}

.product_grid_container {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    align-items: center;
    justify-content: center;
    grid-gap: 2rem;
}

.product_grid_item {
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 17.8125rem;
    background-color: #f4f5f7;
    margin: 2rem 2rem 2rem 2rem;
}

.product_grid_item_image img {
    margin-top: 2rem;
    height: 15rem;
}

.product_grid_item form {
    position: absolute;
    bottom: 0px;
}

.product_grid_item_image {
    display: flex;
    justify-content: center;
    background: #fff;
}

.product_grid_item_description {
    background: #fff;
    height: 100%;
    padding: 1rem;
}

.product_grid_item_description_name {
    color: #3a3a3a !important;
}

.product_grid_item_description_name a {
    position:absolute;
    bottom: 3.3rem;
}

.product_grid_item_description_price {
    position: absolute;
    bottom: 2rem;
}

.product_grid_item_cart_button {
    text-decoration: none;
    color: #b88e2f;
    background-color: #ffffff;
    border: 1px solid #b88e2f;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product_show_more_button {
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.product_show_more_button button {
    color: #b88e2f;
    background-color: #ffffff;
    border: 1px solid #b88e2f;
    text-decoration: none;
    width: 15.3125rem;
    height: 3rem;
    align-content: center;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pagination_container {
	display: flex;
    justify-content:center;
	width: 100%;

}
/******************
	Footer
*/
.footer_container {
    padding: 10% 10%;
    display: flex;
    justify-content: space-between;
}

.footer_business_info {
    padding: 1rem 1rem;
}

.footer_links {
    padding: 1rem 1rem;
}

.footer_links a {
    color: black !important;
	text-decoration: none;
}

.footer_help {
    padding: 1rem 1rem;
}

.footer_help a {
	color: black !important;
	text-decoration: none;
}

.footer_newsletter {
    padding: 1rem 1rem;
}

.newsletter_form input {
    border: none;
    background-color: #f5f5f5;
    outline: none;
}

.newsletter_form button {
    border: none;
    background-color: #f5f5f5;
    outline: none;
    cursor: pointer;
    text-decoration: underline;
}

.footer_copyright {
    padding-left: 10%;
}

/******************
	Media Queries
*/

@media only screen and (max-width: 1500px) {
    .product_grid_container {
		grid-template-columns: auto auto auto;
        
	}

    .product_grid_item_description_name a {
        position: relative;
        bottom: 3px;
    }

    .product_grid_item_description_price {
        position: relative;
        bottom: 0px;
    }

    .product_grid_item form {
        position: relative;
        bottom: 0px;
    }
    
}
@media only screen and (max-width: 1230px) {
    .header_menu_pages a {
        padding: 1rem;
    }
}

@media only screen and (max-width: 1120px) {
    .product_grid_container {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 1000px) {
	.header_menu_icons {
        flex-direction: column;
        padding-top: 3rem;
	}
    header {
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 650px) {
    .product_grid_container {
        grid-template-columns: auto;
    }
}



.truncate {
    white-space:inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
/*    height: 10rem;*/
}


/*Cart search and button*/
.cart-icon {
    float:inline-end;
    display: inline;
}

.search-field {
	display: flex;
	justify-content: center; 
}

.search-bar {
    margin-top: 2rem;
    margin-right: 1rem;
    outline: none;
    border: none;
    width: 30%;
}

.search-btn {
    margin-top: 2rem;
    border: none;
    background-color: #f5f5f5;
    outline: none;
    cursor: pointer;
    text-decoration: underline;
}

.search-btn:hover{

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.total-row {
    font-weight: bold;
}







.d-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
}

.book-cover {
    max-width: 200px;
    margin-right: 20px;
    float: left;
}

.book-details {
    overflow: hidden; /* Clear float */
}

    .book-details h2 {
        margin-top: 0;
    }

.author {
    color: #777;
    margin-bottom: 10px;
}

.description {
    margin-top: 20px;
}
































    /*google poppins font*/
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}
